body {
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
	width: 6.25vw;
  height: 6.25vw;
  background-color: #7fffd4;
}

.cell:hover {
  background-color: #0000ff;
}

.hovered {
  background-color: #3c78eb;
}

#header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}