body {
  margin: 0;
  background-color: red;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  background-color: gray;
}

#header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}